body { background: #443027; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 25px; display: flex; }
.block-helper-0 { color: #c8de0d; font-size: 19px; margin-bottom: 5px; }
.block-search-1 { color: #1e77da; font-size: 13px; margin-bottom: 5px; }
.block-shipping-2 { color: #b8746c; font-size: 14px; margin-bottom: 5px; }
.block-notify-3 { color: #726032; font-size: 21px; margin-bottom: 5px; }
.block-filter-4 { color: #b095ee; font-size: 13px; margin-bottom: 5px; }
.block-shipping-5 { color: #ccda30; font-size: 21px; margin-bottom: 5px; }
.block-cluster-6 { color: #a612bf; font-size: 19px; margin-bottom: 5px; }